#------------------------------------------------------------------------------
#   installation:
#        pip install -r requirements-dev.txt
#------------------------------------------------------------------------------
pre-commit
black
flake8
